<%= render 'layouts/navbar_dash' %>

<div class="container">
	<div class="row new-payment">
		<div class="col-sm-6">
			<div class="payment-btn">
				<%= link_to "New Payment", new_post_path, :class => "btn btn-primary btn-lg", :method => :get  %>
			</div>
		</div>	
			<div class="col-sm-6">
				<div class="balance">
					<h3>Balance <span>100,000</span></h3>
				</div>
			</div>
		</div>	

			<div class="row search_box">
				<div class="col-sm-12 search">
					<div class="input-group">
			      		<input type="text" class="form-control" placeholder="Search for...">
			      		<span class="input-group-btn">
			        		<button class="btn btn-danger" type="button">
			        			 <span class=" glyphicon glyphicon-search"></span>
			        		</button>
			      		</span>
			    	</div>
				</div>	
		</div>	
	<hr>
	<div class="welcome">
		<p>Welcome to nims</p>
		<p>Looks like you have no Transactions!</p>
	</div>

	
	
</div>

