/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*
=============================
  Body
=============================
*/
body {
  font-family: 'Roboto', sans, sans-serif, helvetica;
  background-color: #f5f5f5;
}


/*
=============================
  Logos & Icons
=============================
*/
.main-logo {
  width: 141px;
  height: 87px;
  margin-top: -45px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url('../nims-logo.png') no-repeat;
  background-size: 100%;

}

/*
=============================
  Navabr
=============================
*/

.navbar-default {
  background-color: #fff;
  border-radius: 0px;
  border: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
  padding: 10px;
}
/*
=============================
  Forms & Form Layouts
=============================
*/
.form-wrapper {
  width: 47.088%;
  border: 1px solid #fff;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.2);
}
.form-wrapper.form-wrapper-top {
  background-color: #F8F8F8;
  height: 0px;
  margin-bottom: 1px;
  border-color: #f8f8f8;
}
input[type] {
  border-radius: 1px;
}
.search input, .search button{
  height: 45px;
}
.search .input-group {
  width: 67.5%;
  margin: 0 auto;
}
.search {
  padding: 3.75939849624% 0px;
}

.search.form {
  display: inline-block;
  padding: 0;
  width: 100%;
}
.checkbox.form-wrapper {
    width: 100%;
    margin-bottom: 19px;
    box-shadow: none;
    border: 1px solid;
    padding: 10px;
}

/*
=============================
  Typography
=============================
*/
.welcome p {
  text-align: center;
  font-size: 2em;
  color: #777;
  line-height: 1.5;
  font-weight: 400;
}
.btn-group button {
  font-size: 1.1em;
  font-weight: 700;
}
.new-payment.make h2, .new-payment.make h3 {
  font-weight: 300;
}
.form-wrapper-top h3 {
  text-align: center;
  margin: 0px;
  font-weight: 400;
}
.search.form .fa {
  float: right;
  font-size: 2em;
  margin-top: -11%;
}
.btn-group h1 {
  text-align: center;
}

.form_wrapper p {
  text-align: center
}
.form_wrapper p a {
  color: rgb(255,126,130);
}
  
.balance h3 {
  float: right;
  margin-top: 7.30994152047%;
  font-weight: 300;
}
  span {
    font-size: 0.8em;
  }

.details {
  text-align: center;
}
.details p {
  display: inline-block;
  font-size: 1.4em;
  padding: 0px 10px;
}
.details .fa {
  font-size: 1.4em;
}
.modal-header h3 {
  text-align: center;
}


/*
=============================
  Buttons
=============================
*/

.btn {
  border-radius: 2px;
}
.btn-group {
  padding-bottom: 10px; 
}
.register_btn .btn {
  width: 100%;
  background-color: rgb(255,126,130);
  border-radius: 2px;
  border-color: rgb(255,126,130);
  box-shadow: 0px 2px 0px #E00007;
  font-weight: 700;
}

/*
=============================
  Colors
=============================
*/


.form-wrapper a {
  color: #000;
}
/*
=============================
  Layout
=============================
*/

.new-payment {
  max-width: 72%;
  margin: 0 auto;
}

