<div class="navbar navbar-default">
	<div class="container">
		<a class="navbar-brand main-logo" href="root_path"></a>
		<ul class="nav navbar-nav">
			<li><a href="">Log In</a>	
			</li>
			<li><a href="#">Sign Up</li>
		</ul>
		
	</div>
</div>